body {
    background-image: url('https://images.unsplash.com/photo-1587923623987-c7e4083beb23?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fHN1bnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
  }

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: #fff;
    background-image: linear-gradient(rgba(233, 200, 200, 0.3), rgba(0, 0, 0, 0.6));
    font-family: 'Roboto', sans-serif;
}

.header {
    font-size: 35px;
    font-weight: bold;
    color: rgb(230, 230, 37);
    margin: 10px;
}

#inputCity {
    background-color: rgba(142, 127, 161, 0.3);
    padding: 15px;
    border-radius: 20px;
    border: 2px solid rgb(223, 223, 161);
    font-size: 20px;
}

#inputCity:focus {
    background-color: #fff;
}

#parCountry {
    font-size: 50px;
    font-weight: bold;
    margin: 25px;
}

#parDate {
    font-size: 25px;
}

#parTemperature {
    font-size: 100px;
    font-weight: bold;
    text-shadow: 5px 10px black;
    margin: 0px;
}

#parFeelsLike, #parConditions, #parVariation {
    font-size: 25px;
    font-weight: bold;
}

#parConditions {
    font-style: italic;
}







